<!-- start custom footer snippets -->
<div class="page__footer-visitor-map">
  <a class="page__footer-visitor-map-link" href="https://s01.flagcounter.com/more/EQO" target="_blank" rel="noopener">
    <img
      class="page__footer-visitor-map-image"
      src="https://s01.flagcounter.com/map/EQO/size_s/txt_000000/border_CCCCCC/pageviews_0/viewers_0/flags_1/"
      alt="Visitor map by country"
      loading="lazy">
  </a>
</div>
<a href="/sitemap/">Sitemap</a>
<!-- end custom footer snippets -->
